header{
    background-color: #000;
    padding: 10px;
}

nav a{
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px 20px;

}
nav a:hover{
    background-color: #fff;
    color: #000;
    border-radius: 15px;
}

